@charset "UTF-8";
/* ===================================================================
CSS information

file name  : copy.css
author     : munika-works
style info : コピー
=================================================================== */
/* ===================================================================
CSS information

file name  : _settings.scss
author     : munika-works
style info : 汎用設定
=================================================================== */
.wrp_price .wrp_option, .wrp_price .con_price, .wrp_price .box_price, .box_link {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}
@media only screen and (max-width: 1024px) {
  .wrp_price .wrp_option, .wrp_price .con_price, .wrp_price .box_price, .box_link {
    width: 91.6666666667%;
  }
}

.box_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 113%;
  font-family: "Zen Maru Gothic", "Noto Sans JP", "メイリオ", "Meiryo", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "MS Ｐゴシック", "MS PGothic", "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, sans-serif;
  font-weight: 500;
  margin: 0em auto 5em;
  width: 100%;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .box_link {
    margin: 0em auto 5em;
  }
}
@media only screen and (max-width: 767px) {
  .box_link {
    margin: 0em auto 3em;
  }
}
.box_link li {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media only screen and (min-width: 768px) {
  .box_link li:not(:last-of-type) {
    margin: 0 2em 0 0;
  }
}
@media only screen and (max-width: 767px) {
  .box_link li {
    width: 47%;
    margin: 0 0 2em 0;
  }
  .box_link li:nth-child(2n) {
    margin-left: 3%;
  }
}
.box_link li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #f37d7d;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  text-align: center;
  border-bottom: 1px solid #f37d7d;
  padding: 0 0.5em;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .box_link li a {
    padding: 0 0.5em;
  }
}
@media only screen and (max-width: 767px) {
  .box_link li a {
    padding: 0;
  }
}
.box_link li a::after {
  font-family: "Font Awesome 5 Free";
  content: "\f107";
  font-weight: 900;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-left: 0.5em;
}
.box_link li a:hover::after {
  -webkit-transform: translateY(0.3em);
          transform: translateY(0.3em);
}

.wrp_price {
  padding: 5em 0;
  background: #f7f7f7;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .wrp_price {
    padding: 5em 0;
  }
}
@media only screen and (max-width: 767px) {
  .wrp_price {
    padding: 4em 0;
  }
}
.wrp_price .pink_btn {
  margin-top: 2em;
  text-align: center;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .wrp_price .pink_btn {
    margin-top: 2em;
  }
}
@media only screen and (max-width: 767px) {
  .wrp_price .pink_btn {
    margin-top: 1em;
  }
}
.wrp_price .box_price__img {
  text-align: center;
}
@media only screen and (max-width: 767px) {
  .wrp_price .box_price__img img {
    width: 100%;
  }
}
.wrp_price .box_price__txt {
  text-align: center;
  padding: 1em 0 3em;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .wrp_price .box_price__txt {
    padding: 1em 0 1em;
  }
}
@media only screen and (max-width: 767px) {
  .wrp_price .box_price__txt {
    padding: 1em 0 3em;
  }
}
@media only screen and (max-width: 767px) {
  .wrp_price .box_price__txt {
    width: 100%;
    text-align: justify;
  }
}
.wrp_price .con_price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media only screen and (max-width: 767px) {
  .wrp_price .con_price {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.wrp_price .con_price .box_card {
  background: #fff;
  padding: 2em;
  max-width: 27%;
  border-radius: 1em;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .wrp_price .con_price .box_card {
    padding: 2em;
  }
}
@media only screen and (max-width: 767px) {
  .wrp_price .con_price .box_card {
    padding: 1.5em;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .wrp_price .con_price .box_card {
    max-width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  .wrp_price .con_price .box_card {
    max-width: 100%;
  }
}
.wrp_price .con_price .box_card:not(:last-of-type) {
  margin: 0 1.5em 0 0;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .wrp_price .con_price .box_card:not(:last-of-type) {
    margin: 0 1.5em 0 0;
  }
}
@media only screen and (max-width: 767px) {
  .wrp_price .con_price .box_card:not(:last-of-type) {
    margin: 0 0 1.5em 0;
  }
}
.wrp_price .con_price .box_card__name {
  font-size: 138%;
  font-family: "Zen Maru Gothic", "Noto Sans JP", "メイリオ", "Meiryo", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "MS Ｐゴシック", "MS PGothic", "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, sans-serif;
  font-weight: 500;
  text-align: center;
  line-height: 1;
  padding: 1em 0 0;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .wrp_price .con_price .box_card__name {
    padding: 1em 0 0;
  }
}
@media only screen and (max-width: 767px) {
  .wrp_price .con_price .box_card__name {
    padding: 1em 0 0;
  }
}
.wrp_price .con_price .box_card__price {
  font-size: 175%;
  font-family: "Zen Maru Gothic", "Noto Sans JP", "メイリオ", "Meiryo", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "MS Ｐゴシック", "MS PGothic", "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, sans-serif;
  font-weight: 500;
  text-align: center;
  color: #f37d7d;
}
.wrp_price .con_price .box_card__price .small {
  font-size: 72%;
}
.wrp_price .wrp_option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 3em auto 0;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .wrp_price .wrp_option {
    margin: 3em auto 0;
  }
}
@media only screen and (max-width: 767px) {
  .wrp_price .wrp_option {
    margin: 3em auto 0;
  }
}
@media only screen and (max-width: 767px) {
  .wrp_price .wrp_option {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.wrp_price .wrp_option .con_option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
  padding: 2em;
  border-radius: 1em;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .wrp_price .wrp_option .con_option {
    padding: 2em;
  }
}
@media only screen and (max-width: 767px) {
  .wrp_price .wrp_option .con_option {
    padding: 1.5em;
  }
}
.wrp_price .wrp_option .con_option:not(:last-of-type) {
  margin: 0 1.5em 0 0;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .wrp_price .wrp_option .con_option:not(:last-of-type) {
    margin: 0 1.5em 0 0;
  }
}
@media only screen and (max-width: 767px) {
  .wrp_price .wrp_option .con_option:not(:last-of-type) {
    margin: 0 0 1.5em 0;
  }
}
@media only screen and (max-width: 767px) {
  .wrp_price .wrp_option .con_option {
    max-width: 100%;
  }
}
.wrp_price .wrp_option .con_option .box_option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.wrp_price .wrp_option .con_option .box_option__name {
  font-size: 132%;
  font-family: "Zen Maru Gothic", "Noto Sans JP", "メイリオ", "Meiryo", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "MS Ｐゴシック", "MS PGothic", "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, sans-serif;
  font-weight: 500;
  text-align: center;
  line-height: 1;
  padding: 0 0 0.8em;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .wrp_price .wrp_option .con_option .box_option__name {
    padding: 0 0 0.8em;
  }
}
@media only screen and (max-width: 767px) {
  .wrp_price .wrp_option .con_option .box_option__name {
    padding: 0 0 0.8em;
  }
}
.wrp_price .wrp_option .con_option .box_option__name .small {
  font-size: 82%;
}
.wrp_price .wrp_list {
  max-width: 950px;
  margin: auto;
  width: 90%;
}
.wrp_price .wrp_list .tit_list {
  background-color: #D0E3F1;
}
.wrp_price .wrp_list .con_list {
  margin: auto;
}
.wrp_price .wrp_list .con_list .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.wrp_price .wrp_list .con_list_2column {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.wrp_price .box_info {
  margin: 2em auto 4em;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .wrp_price .box_info {
    margin: 2em auto 4em;
  }
}
@media only screen and (max-width: 767px) {
  .wrp_price .box_info {
    margin: 2em auto 2em;
  }
}
.wrp_price .box_info .info_list {
  max-width: 650px;
  width: 90%;
  font-size: 113%;
  font-family: "Zen Maru Gothic", "Noto Sans JP", "メイリオ", "Meiryo", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "MS Ｐゴシック", "MS PGothic", "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, sans-serif;
  font-weight: 500;
  border-collapse: separate;
  border-radius: 1em;
  background-color: #D0E3F1;
  border-spacing: 0;
  margin: auto;
}
.wrp_price .box_info .info_list th {
  width: 35%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1.5em;
  vertical-align: middle;
  text-align: center;
}
.wrp_price .box_info .info_list td {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1.5em 2em;
  text-align: left;
}
.wrp_price .box_info .info_list td .small {
  font-size: 78%;
  font-family: "Noto Sans JP", "メイリオ", "Meiryo", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "MS Ｐゴシック", "MS PGothic", "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, sans-serif;
  font-weight: 400;
}
@media only screen and (max-width: 767px) {
  .wrp_price .box_info .info_list th,
  .wrp_price .box_info .info_list td {
    display: block;
    width: 100%;
  }
}