@charset "utf-8";
/* ===================================================================
CSS information

file name  : copy.css
author     : munika-works
style info : コピー
=================================================================== */
@import "settings";

//----------------------------------------------//
// .box_link
//----------------------------------------------//
.box_link {
  @extend %bw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @include fsz(18);
  @include sans-serif("title_jp");
  @include cV(margin, 0em auto 5em, 0em auto 5em, 0em auto 3em);
  width: 100%;
  li {
    justify-content: center;
    @include mq(pc_tab) {
      &:not(:last-of-type) {
        margin: 0 2em 0 0;
      }
    }
    @include mq(sp) {
      width: 47%;
      margin: 0 0 2em 0;
      &:nth-child(2n) {
        margin-left: 3%;
      }
    }
    a {
      display: flex;
      color: $pink;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      text-align: center;
      border-bottom: 1px solid $pink;
      @include cV(padding, 0 0.5em, 0 0.5em, 0);
      &::after {
        font-family: "Font Awesome 5 Free";
        content: "\f107";
        font-weight: 900;
        transition: all 0.3s;
        margin-left: 0.5em;
      }
      &:hover::after {
        transform: translateY(0.3em);
      }
    }
  }
}

// -----------------------------------------------------------
// .wrp_info
// -----------------------------------------------------------
.wrp_info {
  @include cV(padding, 8em 0, 6em 0 7em, 5em 0);
  position: relative;
  background-color: $cream;
  z-index: -4;
  &::before {
    content: "";
    background-image: url(../images/common/pink_left_upper.png);
    background-repeat: no-repeat;
    width: 830px;
    height: 480px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    @include cV(background-size, 80%, 50%, 40%);
  }
  &::after {
    content: "";
    background-image: url(../images/common/yellow_right_under.png);
    background-repeat: no-repeat;
    width: 605px;
    height: 390px;
    position: absolute;
    right: 0;
    background-position: right bottom;
    bottom: 0;
    @include cV(background-size, 100%, 60%, 50%);
    z-index: -3;
  }
  .ttl {
    @include cV(margin-bottom, 4.5em, 4.5em, 3em);
    text-align: center;
    &__en {
      display: inline-block;
      @include sans-serif("en");
      @include fsz(25);
      color: $blue;
      border-top: $blue 1px solid;
      border-bottom: $blue 1px solid;
      @include cV(
        padding,
        0.2em 0.5em 0.02em,
        0.2em 0.5em 0.02em,
        0.2em 0.5em 0.02em
      );
      @include cV(margin-bottom, 1em, 1em, 1em);
      line-height: 1.5;
      @include mq(sp) {
        text-align: center;
      }
    }
  }
  .wrp_flow {
    @extend %bw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    .con_flow {
      overflow: hidden;
    }
    .box_flow {
      display: flex;
      margin-top: 3em;
      &:first-child {
        margin-top: 0;
      }
      &__desc {
        flex-grow: 1;
        @include cV(padding-left, 3.5em, 3.5em, 1em);
      }
      &__ttl {
        @include sans-serif("title_jp");
        @include fsz-cha(26, 26, 26);
        margin-top: 0.9rem;
        color: $pink;
        line-height: 1;
        @include cV(margin-bottom, 0.5em, 0.5em, 0.5em);
        .small {
          @include fsz(18, 26);
        }
      }
      &__copy {
        line-height: 1.8;
        .small {
          @include fsz-cha(13, 13, 13);
          line-height: 1.3;
        }
        @include mq(sp) {
        }
      }
      &:last-child .box_flow__num::before {
        z-index: 1;
        content: "";
        background: $blue;
        width: 2px;
        height: 100em;
        bottom: 1rem;
        position: absolute;
        left: 50%;
      }
    }
    .box_flow__num {
      width: 3.5em;
      height: 3.5em;
      position: relative;
      display: block;
      flex-shrink: 0;
      @include sans-serif("title_jp");
      .num {
        position: relative;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        color: $blue;
        @include fsz(26);
        line-height: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid $blue;
        flex-shrink: 0;
        position: relative;
        z-index: 2;
        background: #fff;
      }
    }
  }
}

// -----------------------------------------------------------
// .wrp_service
// -----------------------------------------------------------
.wrp_service {
  @include cV(padding, 5em 0, 5em 0, 5em 0 3em);
  background: $gray;
  .ttl__jp {
    @include cV(margin-bottom, 1em, 1em, 1em);
  }
  .con_service {
    @extend %bw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .box_service {
      @include cV(margin-bottom, 2em, 2em, 2em);
      text-align: center;
      &__img {
        display: inline-block;
        @include cV(margin-bottom, 2em, 2em, 2em);
      }
      &__txt {
        @include mq(sp) {
          width: 100%;
          text-align: justify;
        }
      }
    }
  }

  .wrp_list {
    max-width: 950px;
    margin: auto;
    width: 90%;
    .tit_list {
      background-color: $light-blue;
      color: $blue;
      @include fsz(18);
      @include sans-serif("title_jp");
      border-radius: 0.5em;
      @include cV(padding, 0.3em 1em, 0.3em 1em, 0.3em 1em);
      @include cV(margin-bottom, 0.75em, 0.75em, 0.75em);
    }
    .con_list {
      margin: auto;
      .box_list {
        display: flex;
        @include cV(margin-bottom, 2em, 2em, 2em);
        counter-reset: item;
        @include mq(sp) {
          flex-direction: column;
        }
      }
    }
    .con_list_col2 {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      @include cV(gap, 1em, 1em, 2em);
      @include mq(sp) {
        grid-template-columns: repeat(1, 1fr);
      }
    }
    .list {
      &.col1 {
        @include cV(width, 96%, 96%, 94%);
      }
      &.col2 {
        @include cV(width, 50%, 50%, 90%);
      }
      @include cV(margin-left, 2.5em, 2.5em, 10%);
      li {
        position: relative;
        .small {
          @include fsz-cha(13, 13, 13);
          line-height: 1.3;
        }
        &::before {
          counter-increment: item;
          content: counter(item, decimal-leading-zero) ".";
          position: absolute;
          color: $blue;
          left: -2em;
        }
        @include mq(sp) {
          width: 100%;
        }
      }
    }
  }

  .wrp_step {
    @include cV(margin, 6em 0 0, 5em 0 0, 5em 0 0);
    .con_ttl {
      @extend %bw;
      text-align: center;
      margin-bottom: 3em;
      .ttl__jp {
        color: $light-baseColor;
        margin-bottom: 1em;
        @include fsz(28);
      }
      .time {
        background-color: $pink;
        display: inline-block;
        @include fsz(18);
        @include sans-serif("title_jp");
        color: $white;
        font-weight: 400;
        padding: 0 1em;
        border-radius: 5em;
        .small {
          @include fsz-cha(13, 13, 13);
        }
      }
    }
  }
  .con_step {
    @include cV(display, flex, flex, block);
    flex-wrap: wrap;
    justify-content: center;
    @extend %bw;
    @include mq(sp) {
      flex-direction: column;
    }
    > li {
      flex-basis: 31.3%;
      display: flex;
      align-items: stretch;
      @include cV(margin-right, 3%, 3%, 0);
      margin-bottom: 3em;
      &:nth-child(3n) {
        margin-right: 0;
      }
      @include mq(sp) {
        flex-direction: column;
      }
      dl {
        padding: 1.5em 1.8em;
        margin: 0;
        background-color: $white;
        position: relative;
        border-radius: 1em;
      }
      &:not(:last-child) dl::before {
        content: "";
        width: 10px;
        height: 18px;
        background-color: $blue;
        margin-right: 10px;
        display: inline-block;
        clip-path: polygon(0 0, 0% 100%, 100% 50%);
        position: absolute;
        top: calc(50% - 10px);
        @include cV(left, 104%, 104%, 50%);
        @include mq(sp) {
          transform: rotate(90deg);
          top: 108%;
        }
      }
      dl dt {
        @include fsz(20);
        @include sans-serif("title_jp");
        color: $blue;
        flex-basis: 20%;
        margin-bottom: 1vh;
        text-align: center;
      }
    }
  }
}
