@charset "utf-8";
/* ===================================================================
CSS information

file name  : copy.css
author     : munika-works
style info : コピー
=================================================================== */
@import "settings";

.wrp_status {
  @include cV(padding, 6em 0 8em, 6em 0 8em, 4em 0 5em);
  background: $gray;
  .con_status {
    @extend %bw;
    .update {
      @include cV(padding-bottom, 0.5em, 0.5em, 0.5em);
      text-align: right;
      margin: auto;
      width: wCon(950, 1200);//横幅変更
      margin: auto;//横幅変更
    }

    .txt {
      @include cV(margin-top, 2em, 2em, 2em);
      text-align: center;
      em{
      @include fsz(18);
      @include sans-serif("title_jp");
    }
    }
    .small_txt {
      @include fsz(13, 18);
    }
    a {
      color: $pink;
      &:hover {
        text-decoration: underline;
      }
    }

    .box_status {
      overflow-x: auto; 
      white-space: nowrap;
      width: wCon(950, 1200);//横幅変更
      margin: auto;//横幅変更
      table {
        display: grid;
        @include sans-serif("title_jp");
        grid-template-columns: 0.6fr 0.5fr 1.5fr;
        gap: 2px;
        margin: auto;
        border-spacing: 0;
        border-collapse: separate;
        overflow: hidden;
        border-radius: 1em;
        @include mq(sp) {
          width: 950px;
          overflow-x: scroll;
        }
        .ic_status {
          font-weight: 700;
          @include fsz(30);
          justify-content: center;
        }
        thead,
        tbody,
        tfoot,
        tr {
          display: contents;
        }
        th,
        td {
          display: flex;
          align-items: center;
          background-color: $white;
        }
        td {
          padding: 0em 1em;
        }
        th {
          @include fsz(18);
          font-weight: 500;
          padding: 0.5em 1em;
          flex-direction: column;
          &.type {
            background-color: $blue;
            color: $white;
            justify-content: center;
          }
        }
      }
    }
  }
}
