@charset "UTF-8";
/* ===================================================================
CSS information

file name  : copy.css
author     : munika-works
style info : コピー
=================================================================== */
/* ===================================================================
CSS information

file name  : _settings.scss
author     : munika-works
style info : 汎用設定
=================================================================== */
.wrp_point, .wrp_about .con_about_right .box_about, .wrp_about .con_about_left .box_about {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}
@media only screen and (max-width: 1024px) {
  .wrp_point, .wrp_about .con_about_right .box_about, .wrp_about .con_about_left .box_about {
    width: 91.6666666667%;
  }
}

.wrp_about {
  padding: 8em 0;
  background: #fff;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .wrp_about {
    padding: 5em 0;
  }
}
@media only screen and (max-width: 767px) {
  .wrp_about {
    padding: 5em 0;
  }
}
.wrp_about .con_about_left {
  position: relative;
  z-index: 1;
}
.wrp_about .con_about_left::before {
  content: "";
  position: absolute;
  background-color: #f7f7f7;
  height: 100%;
  width: 40%;
  right: 0;
  bottom: -7%;
  z-index: -1;
  border-radius: 2em 0 0 2em;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .wrp_about .con_about_left::before {
    height: 100%;
  }
}
@media only screen and (max-width: 767px) {
  .wrp_about .con_about_left::before {
    height: 50%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .wrp_about .con_about_left::before {
    width: 30%;
  }
}
@media only screen and (max-width: 767px) {
  .wrp_about .con_about_left::before {
    width: 80%;
  }
}
.wrp_about .con_about_left .box_about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto 8em;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .wrp_about .con_about_left .box_about {
    margin: 0 auto 5em;
  }
}
@media only screen and (max-width: 767px) {
  .wrp_about .con_about_left .box_about {
    margin: 0 auto 7em;
  }
}
@media only screen and (max-width: 767px) {
  .wrp_about .con_about_left .box_about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.wrp_about .con_about_left .box_about__img {
  position: relative;
}
.wrp_about .con_about_left .box_about__img::before {
  content: "";
  position: absolute;
  background-image: url(../../about/images/img_shape_dot01.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 100%;
  width: 181px;
  height: 191px;
  left: -15%;
  bottom: -10%;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .wrp_about .con_about_left .box_about__img::before {
    background-size: 80%;
  }
}
@media only screen and (max-width: 767px) {
  .wrp_about .con_about_left .box_about__img::before {
    background-size: 70%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .wrp_about .con_about_left .box_about__img::before {
    left: -10%;
  }
}
@media only screen and (max-width: 767px) {
  .wrp_about .con_about_left .box_about__img::before {
    left: 0%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .wrp_about .con_about_left .box_about__img::before {
    bottom: -10%;
  }
}
@media only screen and (max-width: 767px) {
  .wrp_about .con_about_left .box_about__img::before {
    bottom: -13%;
  }
}
@media only screen and (max-width: 767px) {
  .wrp_about .con_about_left .box_about__img img {
    width: 100%;
  }
}
.wrp_about .con_about_left .box_about__txt {
  width: calc(600 / 1200 * 100%);
  margin: 0 0 0 5em;
}
.wrp_about .con_about_left .box_about__txt .ttl__jp {
  text-align: left;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .wrp_about .con_about_left .box_about__txt {
    margin: 0 0 0 2em;
  }
}
@media only screen and (max-width: 767px) {
  .wrp_about .con_about_left .box_about__txt {
    margin: 5em 0 0 0;
  }
}
@media only screen and (max-width: 767px) {
  .wrp_about .con_about_left .box_about__txt {
    width: 100%;
    text-align: center;
    font-size: 97%;
  }
}
.wrp_about .con_about_right {
  position: relative;
  z-index: 1;
}
.wrp_about .con_about_right::before {
  content: "";
  position: absolute;
  background-color: #f7f7f7;
  height: 100%;
  width: 40%;
  left: 0;
  bottom: -7%;
  z-index: -1;
  border-radius: 0 2em 2em 0;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .wrp_about .con_about_right::before {
    height: 100%;
  }
}
@media only screen and (max-width: 767px) {
  .wrp_about .con_about_right::before {
    height: 50%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .wrp_about .con_about_right::before {
    width: 30%;
  }
}
@media only screen and (max-width: 767px) {
  .wrp_about .con_about_right::before {
    width: 80%;
  }
}
.wrp_about .con_about_right .box_about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto 8em;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .wrp_about .con_about_right .box_about {
    margin: 0 auto 5em;
  }
}
@media only screen and (max-width: 767px) {
  .wrp_about .con_about_right .box_about {
    margin: 0 auto 7em;
  }
}
@media only screen and (max-width: 767px) {
  .wrp_about .con_about_right .box_about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
.wrp_about .con_about_right .box_about__img {
  position: relative;
}
.wrp_about .con_about_right .box_about__img::before {
  content: "";
  position: absolute;
  background-image: url(../../about/images/img_shape_dot02.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  width: 199px;
  height: 172px;
  right: -8%;
  bottom: -10%;
  background-size: 100%;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .wrp_about .con_about_right .box_about__img::before {
    right: -8%;
  }
}
@media only screen and (max-width: 767px) {
  .wrp_about .con_about_right .box_about__img::before {
    right: 0%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .wrp_about .con_about_right .box_about__img::before {
    bottom: -10%;
  }
}
@media only screen and (max-width: 767px) {
  .wrp_about .con_about_right .box_about__img::before {
    bottom: -5%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .wrp_about .con_about_right .box_about__img::before {
    background-size: 80%;
  }
}
@media only screen and (max-width: 767px) {
  .wrp_about .con_about_right .box_about__img::before {
    background-size: 70%;
  }
}
@media only screen and (max-width: 767px) {
  .wrp_about .con_about_right .box_about__img img {
    width: 100%;
  }
}
.wrp_about .con_about_right .box_about__txt {
  width: calc(600 / 1200 * 100%);
  margin: 0 5em 0 0;
}
.wrp_about .con_about_right .box_about__txt .ttl__jp {
  text-align: left;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .wrp_about .con_about_right .box_about__txt {
    margin: 0 2em 0 0;
  }
}
@media only screen and (max-width: 767px) {
  .wrp_about .con_about_right .box_about__txt {
    margin: 5em 0 0 0;
  }
}
@media only screen and (max-width: 767px) {
  .wrp_about .con_about_right .box_about__txt {
    width: 100%;
    text-align: center;
  }
}

.wrp_point {
  margin: 0 auto 8em;
  padding: 3em 0 5em;
  background: #f7f7f7;
  border-radius: 8em 2em 8em 2em;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .wrp_point {
    margin: 0 auto 5em;
  }
}
@media only screen and (max-width: 767px) {
  .wrp_point {
    margin: 0 auto 5em;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .wrp_point {
    padding: 3em 0 5em;
  }
}
@media only screen and (max-width: 767px) {
  .wrp_point {
    padding: 3em 0 5em;
  }
}
@media only screen and (max-width: 767px) {
  .wrp_point {
    width: 100%;
    border-radius: 4em;
  }
}
.wrp_point .ttl__jp {
  text-align: center;
  color: #494949;
  margin-bottom: 1.5em;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .wrp_point .ttl__jp {
    margin-bottom: 1.5em;
  }
}
@media only screen and (max-width: 767px) {
  .wrp_point .ttl__jp {
    margin-bottom: 1.5em;
  }
}
.wrp_point .ttl__jp em {
  font-size: 188%;
}
.wrp_point .con_point {
  display: grid;
  gap: 2em;
  grid-template-columns: repeat(3, 1fr);
  width: calc(1100 / 1200 * 100%);
  margin: auto;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .wrp_point .con_point {
    gap: 2em;
  }
}
@media only screen and (max-width: 767px) {
  .wrp_point .con_point {
    gap: 4em;
  }
}
@media only screen and (max-width: 767px) {
  .wrp_point .con_point {
    grid-template-columns: repeat(1, 1fr);
  }
}
.wrp_point .con_point .box_point__img {
  text-align: center;
}
.wrp_point .con_point .box_point__img img {
  border-radius: 7em;
}
.wrp_point .con_point .box_point__txt .point_txt {
  margin: 0.5em auto 0;
  text-align: center;
  font-size: 150%;
  font-family: "Zen Maru Gothic", "Noto Sans JP", "メイリオ", "Meiryo", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "MS Ｐゴシック", "MS PGothic", "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, sans-serif;
  font-weight: 500;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .wrp_point .con_point .box_point__txt .point_txt {
    margin: 0.5em auto 0;
  }
}
@media only screen and (max-width: 767px) {
  .wrp_point .con_point .box_point__txt .point_txt {
    margin: 0.5em auto 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .wrp_point .con_point .box_point__txt .point_txt {
    font-size: 150%;
  }
}
@media only screen and (max-width: 767px) {
  .wrp_point .con_point .box_point__txt .point_txt {
    font-size: 175%;
  }
}
@media only screen and (max-width: 767px) {
  .wrp_point .con_point .box_point__txt {
    width: 100%;
    text-align: center;
  }
}