@charset "UTF-8";
/* ===================================================================
CSS information

file name  : homepage.css
author     : munika-works
style info : トップページ
=================================================================== */
/* ===================================================================
CSS information

file name  : _settings.scss
author     : munika-works
style info : 汎用設定
=================================================================== */
.wrp_case .con_case, .wrp_news .con_news, .wrp_service .con_service, .wrp_intro .con_intro {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}
@media only screen and (max-width: 1199px) {
  .wrp_case .con_case, .wrp_news .con_news, .wrp_service .con_service, .wrp_intro .con_intro {
    width: 91.6666666667%;
  }
}

.ttl__en {
  display: inline-block;
  font-family: "Josefin Sans", "Times New Roman", Times, Garamond, Georgia, sans-serif;
  font-weight: 400;
  font-size: 157%;
  color: #0E6BB0;
  border-top: #0E6BB0 1px solid;
  border-bottom: #0E6BB0 1px solid;
  padding: 0.2em 0.5em 0.02em;
  margin-bottom: 1em;
  line-height: 1.5;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .ttl__en {
    padding: 0.2em 0.5em 0.02em;
  }
}
@media only screen and (max-width: 767px) {
  .ttl__en {
    padding: 0.2em 0.5em 0.02em;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .ttl__en {
    margin-bottom: 1em;
  }
}
@media only screen and (max-width: 767px) {
  .ttl__en {
    margin-bottom: 1em;
  }
}
@media only screen and (max-width: 767px) {
  .ttl__en {
    text-align: center;
  }
}

.wrp_fv {
  background-color: #FDFBEF;
  position: relative;
  z-index: 1;
  height: 100vh;
  height: 100svh;
}
.wrp_fv .con_fv {
  max-width: 1100px;
  width: 90%;
  height: 90%;
  margin-left: auto;
  background-repeat: no-repeat;
  background-image: url("../images/home/img_kv_back-pc.svg");
  background-size: contain;
  background-position: top right;
}
@media only screen and (max-width: 1199px) {
  .wrp_fv .con_fv {
    background-repeat: no-repeat;
    background-image: url("../images/home/img_kv_back-tab.svg");
    width: 90%;
  }
}
.wrp_fv .con_fv .box_fv {
  position: relative;
  height: 100vh;
  /* 回転するアニメーション */
  /* 無限に繰り返す */
}
.wrp_fv .con_fv .box_fv .item1 {
  position: absolute;
  background-repeat: no-repeat;
  background-image: url("../images/home/img_pc.png");
  background-size: contain;
  top: -4%;
  right: 0;
  width: 499px;
  max-width: 60%;
  height: 383px;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .wrp_fv .con_fv .box_fv .item1 {
    max-width: 43%;
    top: 0%;
  }
}
@media only screen and (max-width: 767px) {
  .wrp_fv .con_fv .box_fv .item1 {
    max-width: 60%;
    top: -2%;
  }
}
.wrp_fv .con_fv .box_fv .item2 {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/home/img_headphone.png");
  top: 8%;
  left: 10%;
  width: 343px;
  max-width: 50%;
  height: 361px;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .wrp_fv .con_fv .box_fv .item2 {
    max-width: 35%;
    left: 25%;
  }
}
@media only screen and (max-width: 767px) {
  .wrp_fv .con_fv .box_fv .item2 {
    max-width: 45%;
    top: 16%;
    left: 2%;
  }
}
.wrp_fv .con_fv .box_fv .item3 {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/home/img_manga.png");
  top: 30%;
  right: 25%;
  width: 343px;
  max-width: 50%;
  height: 361px;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .wrp_fv .con_fv .box_fv .item3 {
    max-width: 35%;
    top: 28%;
    right: 10%;
  }
}
@media only screen and (max-width: 767px) {
  .wrp_fv .con_fv .box_fv .item3 {
    max-width: 40%;
    top: 21%;
    right: 10%;
  }
}
.wrp_fv .con_fv .box_fv .item4 {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/home/img_controller.png");
  top: 60%;
  right: 3%;
  width: 343px;
  max-width: 50%;
  height: 361px;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .wrp_fv .con_fv .box_fv .item4 {
    max-width: 35%;
    top: 65%;
    right: 5%;
  }
}
@media only screen and (max-width: 767px) {
  .wrp_fv .con_fv .box_fv .item4 {
    max-width: 40%;
    top: 48%;
    right: 5%;
  }
}
.wrp_fv .con_fv .box_fv .item5 {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/home/img_book.png");
  top: 50%;
  left: 3%;
  width: 343px;
  max-width: 50%;
  height: 361px;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .wrp_fv .con_fv .box_fv .item5 {
    max-width: 40%;
    top: 50%;
    left: 20%;
  }
}
@media only screen and (max-width: 767px) {
  .wrp_fv .con_fv .box_fv .item5 {
    max-width: 45%;
    top: 42%;
    left: -8%;
  }
}
.wrp_fv .con_fv .box_fv .item6 {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/home/img_cheki.png");
  top: 70%;
  left: 33%;
  width: 158px;
  max-width: 50%;
  height: 166px;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .wrp_fv .con_fv .box_fv .item6 {
    max-width: 15%;
    top: 77%;
    left: 40%;
  }
}
@media only screen and (max-width: 767px) {
  .wrp_fv .con_fv .box_fv .item6 {
    max-width: 15%;
    top: 59%;
    left: 35%;
  }
}
.wrp_fv .con_fv .box_fv .item7 {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/home/img_ink.png");
  top: 41%;
  right: 15%;
  width: 150px;
  max-width: 50%;
  height: 119px;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .wrp_fv .con_fv .box_fv .item7 {
    max-width: 15%;
    top: 50%;
    right: 2%;
  }
}
@media only screen and (max-width: 767px) {
  .wrp_fv .con_fv .box_fv .item7 {
    max-width: 20%;
    top: 40%;
    right: 1%;
  }
}
@-webkit-keyframes item_fast {
  0%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
  }
}
@keyframes item_fast {
  0%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
  }
}
@-webkit-keyframes item_slow {
  0%, 100% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes item_slow {
  0%, 100% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes item_more_slow {
  0%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
  }
}
@keyframes item_more_slow {
  0%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
  }
}
.wrp_fv .con_fv .box_fv .item1,
.wrp_fv .con_fv .box_fv .item4 {
  -webkit-animation: 4s item_fast infinite;
          animation: 4s item_fast infinite;
}
.wrp_fv .con_fv .box_fv .item5,
.wrp_fv .con_fv .box_fv .item3 {
  -webkit-animation: 5s item_slow infinite;
          animation: 5s item_slow infinite;
}
.wrp_fv .con_fv .box_fv .item2,
.wrp_fv .con_fv .box_fv .item6,
.wrp_fv .con_fv .box_fv .item7 {
  -webkit-animation: 6s item_more_slow infinite;
          animation: 6s item_more_slow infinite;
}
.wrp_fv .fv_txt {
  max-width: 1600px;
  width: 90%;
  margin: auto;
}
.wrp_fv .fv_txt .main_ttl {
  position: absolute;
  top: calc(38% - 70px);
  line-height: 1.5;
}
@media only screen and (max-width: 767px) {
  .wrp_fv .fv_txt .main_ttl {
    top: auto;
    left: 8%;
    bottom: 15%;
  }
}
.wrp_fv .fv_txt .main_ttl__jp {
  font-size: 313%;
  font-family: "Zen Maru Gothic", "Noto Sans JP", "メイリオ", "Meiryo", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "MS Ｐゴシック", "MS PGothic", "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, sans-serif;
  font-weight: 500;
  color: #f37d7d;
  font-weight: 500;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .wrp_fv .fv_txt .main_ttl__jp {
    font-size: 250%;
  }
}
@media only screen and (max-width: 767px) {
  .wrp_fv .fv_txt .main_ttl__jp {
    font-size: 219%;
  }
}
.wrp_fv .fv_txt .main_ttl__en {
  font-size: 157%;
  font-family: "Josefin Sans", "Times New Roman", Times, Garamond, Georgia, sans-serif;
  font-weight: 400;
  color: #0E6BB0;
  letter-spacing: 0;
  padding-top: 0.5em;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .wrp_fv .fv_txt .main_ttl__en {
    font-size: 125%;
  }
}
@media only screen and (max-width: 767px) {
  .wrp_fv .fv_txt .main_ttl__en {
    font-size: 94%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .wrp_fv .fv_txt .main_ttl__en {
    padding-top: 0.5em;
  }
}
@media only screen and (max-width: 767px) {
  .wrp_fv .fv_txt .main_ttl__en {
    padding-top: 0.5em;
  }
}
.wrp_fv .scroll {
  font-family: "Josefin Sans", "Times New Roman", Times, Garamond, Georgia, sans-serif;
  font-weight: 400;
  font-size: 125%;
  color: #333333;
  position: absolute;
  bottom: 4%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .wrp_fv .scroll {
    font-size: 125%;
  }
}
@media only screen and (max-width: 767px) {
  .wrp_fv .scroll {
    font-size: 125%;
  }
}
.wrp_fv .scroll::after {
  content: "";
  display: block;
  position: absolute;
  right: 50%;
  bottom: -80px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 1px;
  height: 70px;
  background-color: #333333;
  -webkit-animation: scroll 3s cubic-bezier(1, 0, 0.3, 1) infinite;
          animation: scroll 3s cubic-bezier(1, 0, 0.3, 1) infinite;
}
@-webkit-keyframes scroll {
  0% {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
  }
  50% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
  }
  50.1% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
  }
  100% {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
  }
}
@keyframes scroll {
  0% {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
  }
  50% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
  }
  50.1% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
  }
  100% {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
  }
}

.wrp_intro {
  padding: 8em 0 12em;
  position: relative;
  z-index: 0;
  background-color: #FFFEFB;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .wrp_intro {
    padding: 5em 0;
  }
}
@media only screen and (max-width: 767px) {
  .wrp_intro {
    padding: 5em 0;
  }
}
.wrp_intro::before {
  content: "";
  background-image: url(../images/common/pink_left_upper.png);
  background-repeat: no-repeat;
  width: 830px;
  height: 480px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  background-size: 80%;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .wrp_intro::before {
    background-size: 50%;
  }
}
@media only screen and (max-width: 767px) {
  .wrp_intro::before {
    background-size: 40%;
  }
}
.wrp_intro::after {
  content: "";
  background-image: url(../images/common/yellow_right_under.png);
  background-repeat: no-repeat;
  width: 605px;
  height: 390px;
  position: absolute;
  right: 0;
  background-position: right bottom;
  bottom: 0;
  background-size: 100%;
  z-index: -3;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .wrp_intro::after {
    background-size: 60%;
  }
}
@media only screen and (max-width: 767px) {
  .wrp_intro::after {
    background-size: 50%;
  }
}
.wrp_intro .con_intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: -2;
}
@media only screen and (max-width: 767px) {
  .wrp_intro .con_intro {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.wrp_intro .con_intro .box_intro__img {
  position: relative;
  z-index: -1;
}
@media only screen and (max-width: 767px) {
  .wrp_intro .con_intro .box_intro__img {
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  .wrp_intro .con_intro .box_intro__img img {
    width: 100%;
  }
}
.wrp_intro .con_intro .box_intro__img .img_intro2 {
  position: absolute;
  right: -20%;
  bottom: -20%;
  width: 157px;
  height: 273px;
}
@media only screen and (max-width: 767px) {
  .wrp_intro .con_intro .box_intro__img .img_intro2 {
    display: none;
  }
}
.wrp_intro .con_intro .box_intro__txt {
  width: 50%;
  margin: 0 0 0 10em;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .wrp_intro .con_intro .box_intro__txt {
    margin: 0 0 0 6em;
  }
}
@media only screen and (max-width: 767px) {
  .wrp_intro .con_intro .box_intro__txt {
    margin: 3em 0 0 0;
  }
}
@media only screen and (max-width: 767px) {
  .wrp_intro .con_intro .box_intro__txt {
    width: 100%;
    text-align: center;
  }
}
.wrp_intro .con_intro .box_intro__txt .tmp_txt {
  text-align: justify;
}
.wrp_intro .con_intro .box_intro__txt .pink_btn {
  margin-top: 2em;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .wrp_intro .con_intro .box_intro__txt .pink_btn {
    margin-top: 2em;
  }
}
@media only screen and (max-width: 767px) {
  .wrp_intro .con_intro .box_intro__txt .pink_btn {
    margin-top: 2em;
  }
}

.wrp_service {
  padding: 8em 0 12em;
  background-color: #f7f7f7;
  position: relative;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .wrp_service {
    padding: 5em 0 10em;
  }
}
@media only screen and (max-width: 767px) {
  .wrp_service {
    padding: 5em 0 10em;
  }
}
.wrp_service .con_service .box_service__txt .tmp_txt {
  text-align: center;
  margin-bottom: 4em;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .wrp_service .con_service .box_service__txt .tmp_txt {
    margin-bottom: 4em;
  }
}
@media only screen and (max-width: 767px) {
  .wrp_service .con_service .box_service__txt .tmp_txt {
    margin-bottom: 3em;
  }
}
@media only screen and (max-width: 767px) {
  .wrp_service .con_service .box_service__txt .tmp_txt {
    text-align: justify;
  }
}
.wrp_service .con_service .box_service__explain {
  grid-template-columns: repeat(3, 1fr);
  width: 66.6666666667%;
  display: grid;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  counter-reset: item;
  gap: 0;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-top: 5em;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .wrp_service .con_service .box_service__explain {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 767px) {
  .wrp_service .con_service .box_service__explain {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .wrp_service .con_service .box_service__explain {
    gap: 3%;
  }
}
@media only screen and (max-width: 767px) {
  .wrp_service .con_service .box_service__explain {
    gap: 10% 5%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .wrp_service .con_service .box_service__explain {
    margin-top: 5em;
  }
}
@media only screen and (max-width: 767px) {
  .wrp_service .con_service .box_service__explain {
    margin-top: 0;
  }
}
@media only screen and (max-width: 767px) {
  .wrp_service .con_service .box_service__explain {
    width: 100%;
  }
  .wrp_service .con_service .box_service__explain img {
    width: 100%;
  }
}
.wrp_service .con_service .box_service__explain .service_inner {
  counter-increment: item;
}
.wrp_service .con_service .box_service__explain .service_inner .service__img {
  position: relative;
}
.wrp_service .con_service .box_service__explain .service_inner .service__img::before {
  position: absolute;
  font-family: "Josefin Sans", "Times New Roman", Times, Garamond, Georgia, sans-serif;
  font-weight: 400;
  font-size: 213%;
  content: counter(item, decimal-leading-zero);
  color: #0E6BB0;
  left: calc(50% - 20px);
  top: -10%;
  line-height: 1;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .wrp_service .con_service .box_service__explain .service_inner .service__img::before {
    top: -10%;
  }
}
@media only screen and (max-width: 767px) {
  .wrp_service .con_service .box_service__explain .service_inner .service__img::before {
    top: -10%;
  }
}
.wrp_service .con_service .box_service__explain .service_inner .service__name {
  line-height: 1.5;
  font-family: "Zen Maru Gothic", "Noto Sans JP", "メイリオ", "Meiryo", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "MS Ｐゴシック", "MS PGothic", "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, sans-serif;
  font-weight: 500;
  font-size: 125%;
  padding-top: 1em;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .wrp_service .con_service .box_service__explain .service_inner .service__name {
    padding-top: 1em;
  }
}
@media only screen and (max-width: 767px) {
  .wrp_service .con_service .box_service__explain .service_inner .service__name {
    padding-top: 1em;
  }
}
.wrp_service .con_service .box_service__txt {
  width: 54.1666666667%;
  text-align: center;
  margin: auto;
}
@media only screen and (max-width: 767px) {
  .wrp_service .con_service .box_service__txt {
    width: 100%;
  }
}
.wrp_service .con_service .pink_btn {
  margin-top: 4.5em;
  text-align: center;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .wrp_service .con_service .pink_btn {
    margin-top: 4.5em;
  }
}
@media only screen and (max-width: 767px) {
  .wrp_service .con_service .pink_btn {
    margin-top: 5em;
  }
}

.wrp_works {
  padding: 1em 0 8em;
  position: relative;
  background-color: #fff;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .wrp_works {
    padding: 1em 0 5em;
  }
}
@media only screen and (max-width: 767px) {
  .wrp_works {
    padding: 1em 0 5em;
  }
}
.wrp_works::before {
  content: "";
  position: absolute;
  background-image: url(../images/home/bg_circle.png);
  background-repeat: no-repeat;
  width: 505px;
  height: 338px;
  top: -13%;
  right: calc(50% - 252px);
  z-index: 0;
}
@media only screen and (max-width: 767px) {
  .wrp_works::before {
    background-size: 60%;
    /*505px × 60% ÷ 2（÷ 2の分中央に寄せる）*/
    right: calc(50% - 349px);
    top: -10%;
  }
}
.wrp_works .con_works {
  position: relative;
  z-index: 1;
}
.wrp_works .con_works .box_works__txt {
  width: 54.1666666667%;
  text-align: center;
  margin: auto;
}
@media only screen and (max-width: 767px) {
  .wrp_works .con_works .box_works__txt {
    width: 90%;
  }
}
.wrp_works .con_works .box_works__img {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  width: 100vw;
  overflow: hidden;
  z-index: -1;
  margin-top: 5em;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .wrp_works .con_works .box_works__img {
    margin-top: 5em;
  }
}
@media only screen and (max-width: 767px) {
  .wrp_works .con_works .box_works__img {
    margin-top: 4em;
  }
}
.wrp_works .con_works .box_works__img ul + ul {
  -webkit-animation: loop2 100s linear infinite;
          animation: loop2 100s linear infinite;
}
.wrp_works .con_works .box_works__img ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  width: 100%;
  margin: 0;
  padding: 0;
}
@media only screen and (max-width: 767px) {
  .wrp_works .con_works .box_works__img ul {
    width: auto;
  }
}
.wrp_works .con_works .box_works__img ul:first-child {
  -webkit-animation: loop 100s -50s linear infinite;
          animation: loop 100s -50s linear infinite;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  will-change: transform;
}
.wrp_works .con_works .box_works__img ul li {
  display: inline-block;
  width: 50vw;
  min-width: 150px;
  margin-right: 2em;
  list-style: none;
  text-align: center;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .wrp_works .con_works .box_works__img ul li {
    margin-right: 1em;
  }
}
@media only screen and (max-width: 767px) {
  .wrp_works .con_works .box_works__img ul li {
    margin-right: 1em;
  }
}
.wrp_works .con_works .box_works__img ul li:nth-child(2n) {
  margin-top: 3em;
}
.wrp_works .con_works .box_works__img ul li img {
  display: block;
  width: 100%;
  height: auto;
}
@-webkit-keyframes loop {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
@keyframes loop {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
@-webkit-keyframes loop2 {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
}
@keyframes loop2 {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
}
.wrp_works .con_works .pink_btn {
  margin-top: 4.5em;
  text-align: center;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .wrp_works .con_works .pink_btn {
    margin-top: 4.5em;
  }
}
@media only screen and (max-width: 767px) {
  .wrp_works .con_works .pink_btn {
    margin-top: 3em;
  }
}

.wrp_news {
  padding: 8em 0;
  background-color: #FDFBEF;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .wrp_news {
    padding: 5em 0;
  }
}
@media only screen and (max-width: 767px) {
  .wrp_news {
    padding: 5em 0;
  }
}
.wrp_news .con_news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  font-size: 113%;
}
@media only screen and (max-width: 767px) {
  .wrp_news .con_news {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.wrp_news .con_news .box_news {
  width: 66.6666666667%;
  font-family: "Zen Maru Gothic", "Noto Sans JP", "メイリオ", "Meiryo", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "MS Ｐゴシック", "MS PGothic", "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, sans-serif;
  font-weight: 500;
}
@media only screen and (max-width: 767px) {
  .wrp_news .con_news .box_news {
    width: 100%;
  }
}
.wrp_news .con_news .box_news li {
  padding: 1em 0;
  /*破線*/
  background-image: linear-gradient(to right, #0E6BB0, #0E6BB0 4px, transparent 4px, transparent 8px); /* 幅2の線を作る */
  background-size: 8px 1px; /* グラデーションの幅・高さを指定 */
  background-position: left bottom; /* 背景の開始位置を指定 */
  background-repeat: repeat-x; /* 横向きにのみ繰り返す */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .wrp_news .con_news .box_news li {
    padding: 1em 0;
  }
}
@media only screen and (max-width: 767px) {
  .wrp_news .con_news .box_news li {
    padding: 1em 0;
  }
}
@media only screen and (max-width: 767px) {
  .wrp_news .con_news .box_news li {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.wrp_news .con_news .box_news li .date {
  font-family: "Josefin Sans", "Times New Roman", Times, Garamond, Georgia, sans-serif;
  font-weight: 400;
  color: #0E6BB0;
  padding: 0.2em 2em 0 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .wrp_news .con_news .box_news li .date {
    padding: 0 2em 0 1em;
  }
}
@media only screen and (max-width: 767px) {
  .wrp_news .con_news .box_news li .date {
    padding: 0;
  }
}
.wrp_news .con_news .box_news li a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.wrp_news .con_news .box_news li a:hover {
  opacity: 0.7;
}
.wrp_news .con_news .box_news__txt {
  margin-right: 6em;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .wrp_news .con_news .box_news__txt {
    margin-right: 3em;
  }
}
@media only screen and (max-width: 767px) {
  .wrp_news .con_news .box_news__txt {
    margin-right: 0;
  }
}
.wrp_news .more_btn {
  font-family: "Zen Maru Gothic", "Noto Sans JP", "メイリオ", "Meiryo", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "MS Ｐゴシック", "MS PGothic", "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, sans-serif;
  font-weight: 500;
  font-size: 113%;
  margin: 2em 0 0;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .wrp_news .more_btn {
    margin: 2em 0 0;
  }
}
@media only screen and (max-width: 767px) {
  .wrp_news .more_btn {
    margin: 1em 0 0 auto;
  }
}
.wrp_news .more_btn i {
  font-size: 75%;
  border-radius: 50%;
  border: 2px solid #0E6BB0;
  width: 2em;
  height: 2em;
  text-align: center;
  line-height: 2em;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.wrp_news .more_btn i:hover {
  background-color: #0E6BB0;
  color: #fff;
}
.wrp_news .more_btn a {
  color: #0E6BB0;
}

.wrp_case {
  padding: 8em 0;
  text-align: center;
  background-color: #f7f7f7;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .wrp_case {
    padding: 5em 0;
  }
}
@media only screen and (max-width: 767px) {
  .wrp_case {
    padding: 5em 0;
  }
}
.wrp_case .con_case .box_case__txt .txt {
  margin-bottom: 4em;
  text-align: center;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .wrp_case .con_case .box_case__txt .txt {
    margin-bottom: 4em;
  }
}
@media only screen and (max-width: 767px) {
  .wrp_case .con_case .box_case__txt .txt {
    margin-bottom: 3em;
  }
}
@media only screen and (max-width: 767px) {
  .wrp_case .con_case .box_case__txt .txt {
    text-align: justify;
  }
}
.wrp_case .con_case .box_case__explain {
  display: grid;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-template-columns: repeat(3, 1fr);
  gap: 3%;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 4em;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .wrp_case .con_case .box_case__explain {
    gap: 2%;
  }
}
@media only screen and (max-width: 767px) {
  .wrp_case .con_case .box_case__explain {
    gap: 10%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .wrp_case .con_case .box_case__explain {
    margin-top: 4em;
  }
}
@media only screen and (max-width: 767px) {
  .wrp_case .con_case .box_case__explain {
    margin-top: 0;
  }
}
@media only screen and (max-width: 767px) {
  .wrp_case .con_case .box_case__explain {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }
}
.wrp_case .con_case .box_case__explain .case_inner .case__name {
  line-height: 1.5;
  font-family: "Zen Maru Gothic", "Noto Sans JP", "メイリオ", "Meiryo", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "MS Ｐゴシック", "MS PGothic", "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, sans-serif;
  font-weight: 500;
  font-size: 113%;
  padding-top: 1em;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .wrp_case .con_case .box_case__explain .case_inner .case__name {
    padding-top: 1em;
  }
}
@media only screen and (max-width: 767px) {
  .wrp_case .con_case .box_case__explain .case_inner .case__name {
    padding-top: 1em;
  }
}
.wrp_case .con_case .box_case__explain .case_inner a .case__img img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1em;
}
.wrp_case .con_case .box_case__explain .case_inner a .case__txt {
  width: 54.1666666667%;
  margin: auto;
}
@media only screen and (max-width: 767px) {
  .wrp_case .con_case .box_case__explain .case_inner a .case__txt {
    width: 100%;
  }
}
.wrp_case .pink_btn {
  margin-top: 4.5em;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .wrp_case .pink_btn {
    margin-top: 4.5em;
  }
}
@media only screen and (max-width: 767px) {
  .wrp_case .pink_btn {
    margin-top: 3em;
  }
}