@charset "UTF-8";
/* ===================================================================
CSS information

file name  : copy.css
author     : munika-works
style info : コピー
=================================================================== */
/* ===================================================================
CSS information

file name  : _settings.scss
author     : munika-works
style info : 汎用設定
=================================================================== */
.wrp_policy .con_policy {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}
@media only screen and (max-width: 1024px) {
  .wrp_policy .con_policy {
    width: 91.6666666667%;
  }
}

.wrp_intro .con_intro .box_intro .txt {
  text-align: center;
}
@media only screen and (max-width: 767px) {
  .wrp_intro .con_intro .box_intro .txt {
    text-align: justify;
  }
}

.wrp_policy {
  background: #f7f7f7;
  padding: 5em 0;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .wrp_policy {
    padding: 5em 0;
  }
}
@media only screen and (max-width: 767px) {
  .wrp_policy {
    padding: 3.5em 0;
  }
}
.wrp_policy .con_policy {
  padding-bottom: 5em;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .wrp_policy .con_policy {
    padding-bottom: 5em;
  }
}
@media only screen and (max-width: 767px) {
  .wrp_policy .con_policy {
    padding-bottom: 3em;
  }
}
.wrp_policy .con_policy .ttl__jp {
  font-size: 150%;
  color: #0E6BB0;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .wrp_policy .con_policy .ttl__jp {
    font-size: 150%;
  }
}
@media only screen and (max-width: 767px) {
  .wrp_policy .con_policy .ttl__jp {
    font-size: 138%;
  }
}
.wrp_policy .con_policy .box_list {
  margin: 2em auto;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .wrp_policy .con_policy .box_list {
    margin: 2em auto;
  }
}
@media only screen and (max-width: 767px) {
  .wrp_policy .con_policy .box_list {
    margin: 1em auto;
  }
}
.wrp_policy .box_policy {
  margin: 2em auto;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .wrp_policy .box_policy {
    margin: 2em auto;
  }
}
@media only screen and (max-width: 767px) {
  .wrp_policy .box_policy {
    margin: 1em auto;
  }
}